@font-face {
  font-family: Vazir;
  src: url('./Vazir-FD.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: Vazir;
}
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-color: gray;
  display: flex;
  flex-direction: column;
  user-select: none;
}

#root-container {
  margin: auto;
  display: grid;
  grid-template-areas:
    'header header'
    'info-container info-container'
    'paper paper'
    'blue-score red-score'
    'message message'
    'buttons buttons';
  grid-template-columns: 1fr 1fr;
  box-shadow: 15px 10px 20px 0 #00000073;
  border-radius: 50px 50px 50px 50px;
}
#header {
  direction: rtl;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  cursor: pointer;
  grid-area: header;
  font-size: 40px;
  height: 80px;
  text-align: center;
  border-radius: 50px 50px 0 0;
  background-color: orange;
}
#info-container {
  grid-area: info-container;
  display: none;
  height: 40px;
  justify-content: center;
  align-items: center;
  background-color: wheat;
}
#github {
  height: 30px;
  margin-top: 10px;
}
#github:hover {
  height: 35px;
}

#paper {
  grid-area: paper;
  padding: 30px;
  display: grid;
  width: 65vmin;
  height: 65vmin;
  background-color: rgb(46, 46, 46);
}

.score {
  text-align: center;
  text-shadow: thistle;
  color: white;
  font-size: 20px;
  margin-bottom: 0;
}

#blue {
  grid-area: blue-score;

  padding: auto;

  background-color: rgb(0, 0, 80);
  box-shadow: 0 5px rgb(0, 0, 80);
  transition: 2s;

  margin-bottom: 6px;
}
.active-blue {
  background-color: rgb(0, 0, 235) !important;
  box-shadow: 0 5px rgb(0, 0, 180) !important;
  transition: 2s;
}

#red {
  grid-area: red-score;

  padding: auto;

  background-color: rgb(100, 0, 0);
  box-shadow: 0 5px rgb(100, 0, 0);
  transition: 2s;

  margin-bottom: 6px;
}

.active-red {
  background-color: red !important;
  box-shadow: 0 5px rgb(200, 0, 0) !important;
  transition: 2s;
}

.your-message {
  background-color: yellowgreen;
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 5px;
  border-radius: 5px 5px 0 5px;
  transition: all 0.35s ease-in-out;
  display: none;
}
.opponent-message {
  background-color: rgb(227, 255, 65);
  position: absolute;
  left: 10px;
  top: 10px;
  padding: 5px;
  border-radius: 5px 5px 5px 0;
  transition: all 0.35s ease-in-out;
  display: none;
}

#send-panel {
  display: none;
  grid-area: message;
  width: 100%;
  height: 40px;
}
#send {
  background-color: orange;
  border: 2px solid wheat;
  flex-grow: 1;
  width: 25px;
  cursor: pointer;
}

#send:active {
  background-color: rgb(255, 145, 0);
}

#send > img {
  transform: scaleX(-1);
  height: 100%;
  width: 100%;
}
#input {
  direction: rtl;
  background-color: wheat;
  border: 2px solid wheat;
  flex-grow: 4;
}

#input:focus {
  outline: none;
}

#button-container {
  grid-area: buttons;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: orange;
  border-radius: 0 0 50px 50px;
  cursor: pointer;
}
#buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  grid-area: area;
}

.button {
  color: black;
  font-size: 20px;
  cursor: pointer;

  margin: 5px;
  padding: 10px;
  border-radius: 30px;
  border-bottom: solid orangered;
  border-top: solid orangered;

  display: flex;
  justify-content: center;
  align-items: center;
}
.button:hover {
  font-size: 25px;
}
.grid-item {
  width: 100%;
  height: 100%;
  display: flex;
}
.xline {
  position: relative;
  height: 60%;
  width: 90%;
  transition: all 0.5s;
  border-radius: 15px;
  margin: auto;
}
.xline:hover {
  background-color: rgb(65, 65, 65);
}
.yline {
  position: relative;
  height: 90%;
  width: 60%;
  border-radius: 15px;
  margin: auto;
  transition: all 0.5s;
}
.yline:hover {
  background-color: rgb(65, 65, 65);
}
.dot {
  z-index: 1000;
  width: 100%;
  height: 100%;
  border-radius: 99999999px;
  background-color: yellow;
  margin: auto;
  box-shadow: 10px purple;
}
.dot:hover {
  background-color: orange;
}
.space {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 180%;
  color: white;
  text-align: center;
  height: 90%;
  width: 90%;
  border-radius: 15px;
  margin: auto;
  transition: all 0.5s ease-in;
}
