body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: gray;
    display: flex;
  }
  
  #root-container {
    margin: auto;
    display: grid;
    grid-template-areas:
      "titr titr"
      "info info"
      "paper paper"
      "blue-score red-score"
      "buttons buttons";
    grid-template-columns: 1fr 1fr;
    box-shadow: 15px 10px 20px 0 #00000073;
    border-radius: 50px 50px 50px 50px;
  
  }