@font-face {
  font-family: Vazir;
  src: url('./Vazir-FD.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
*{
  font-family: Vazir;
}
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-color: darkgrey;
  display: flex;
}


#root-container{
  margin: auto;
  display: grid;
  grid-template-areas:
    "titr titr"
    "paper paper"
    "blue-score red-score"
  ;
  grid-template-columns: 1fr 1fr;
  
}
#paper {
  grid-area: paper;
  padding: 30px;
  display: grid;
  margin: 0 auto;
  width: 65vmin;
  height: 65vmin;
  background-color: white;
  background-color: rgb(46, 46, 46);
}

#titr{
  grid-area: titr;
  font-size: 10vmin;
  text-align: center;
  border-radius: 80px 80px 0 0 ;
}


.score{
  text-align: center;
  text-shadow: thistle;
  color: white;
  font-size: 40px;
  height: 50px;
  padding: 10px;
}

#blue {
  grid-area: blue-score;
  background-color: darkblue;
  /* border-radius: 0 0  0 80px ; */
}
#red {
  grid-area: red-score;
  background-color: darkred;
  /* border-radius: 0 0 80px 0; */

}
.grid-item {
  width: 100%;
  height: 100%;
  display: flex;
}
.xline {
  position: relative;
  height: 60%;
  width: 90%;
  border-radius: 15px;
  margin: auto;
}
.xline:hover {
  background-color: rgb(65, 65, 65);}
.yline {
  position: relative;
  height: 90%;
  width: 60%;
  border-radius: 15px;
  margin: auto;
}
.yline:hover {
  background-color: rgb(65, 65, 65);
}
.dot {
  z-index: 1000;
  width: 100%;
  height: 100%;
  border-radius: 99999999px;
  background-color: yellow;
  margin: auto;
}
.dot:hover {
  background-color: orange;
}
.space {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 300%;
  color: white;
  text-align: center;
  height: 90%;
  width: 90%;
  border-radius: 15px;
  margin: auto;
}
