body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-color: darkgrey;
}

#turn {
  background-color: red;
  text-align: center;
  text-shadow: thistle;
  color: white;
  font-size: 40px;
  font-family: sans-serif;
  height: 50px;
}

#paper {
  top: 30px;
  padding: 30px;
  display: grid;
  margin: auto;
  position: relative;
  width: 500px;
  height: 500px;
  background-color: white;
  border: solid rgb(46, 46, 46) 10px;
}

#score-board {
  display: flex;
  margin: auto;
  height: 200px;
}

#blue {
  background-color: darkblue;
  text-align: center;
  text-shadow: thistle;
  color: white;
  font-size: 40px;
  font-family: sans-serif;
  height: 50px;
  margin: auto;
  border-radius: 25px;
  padding: 10px;
}
#red {
  background-color: darkred;
  text-align: center;
  text-shadow: thistle;
  color: white;
  font-size: 40px;
  font-family: sans-serif;
  height: 50px;
  margin: auto;
  border-radius: 25px;
  padding: 10px;
}
.grid-item {
  width: 100%;
  height: 100%;
  display: flex;
}
.xline {
  position: relative;
  background-color: white;
  height: 60%;
  width: 90%;
  border-radius: 15px;
  margin: auto;
}
.xline:hover {
  background-color: rgb(207, 207, 207);
}
.yline {
  position: relative;
  background-color: white;
  height: 90%;
  width: 60%;
  border-radius: 15px;
  margin: auto;
}
.yline:hover {
  background-color: rgb(207, 207, 207);
}
.dot {
  z-index: 1;
  width: 100%;
  height: 100%;
  border-radius: 99999999px;
  background-color: gray;
  margin: auto;
}
.dot:hover {
  background-color: yellow;
}
.space {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 300%;
  color: white;
  text-align: center;
  height: 90%;
  width: 90%;
  border-radius: 15px;
  margin: auto;
}
